<h3>Create a New Topic</h3>

<div class="row">
    <%= form_for @changeset, topic_path(@conn, :create), fn f -> %>

        <div class="row">
            <div class="input-field col s12">
                <%= text_input f, :title, placeholder: "Title", class: "validate" %>
            </div>
        </div>

        <div class="row">
            <%= submit "Save Topic", class: "btn waves-effect waves-default light-blue" %>
        </div>

    <% end %>
</div>
